<link rel="stylesheet" href="/css/landing.css">

<select id="locations">
    <option selected disabled>Choose a location!</option>
</select>

<select id="quests" style="display:none">
    <option selected disabled val = "reset">Choose a quest!</option>
</select>

<article id = "mission-box">
    <h1 id = "name"></h1>
    <p id = "location"></p>
    <br>
    <p id = "mission"></p>
</article>

<br>

<p>Choose your companion.</p>
<hr>
<section id = "netfolk-box">

</section>
<br>
<div id="descriptor">

</div>

<script src="/js/landing.js"></script>
